<h1>Active Pacman:</h1>
<pre>{{state?.pacMan | json}}</pre>
<h1>Pacman Form State:</h1>
<pre>{{pacMan | json}}</pre>
<label>xPos: <input type="number" [(ngModel)]="pacMan.xPos"></label>
<label>yPos: <input type="number" [(ngModel)]="pacMan.yPos"></label>
<label>North
	<input type="radio" [(ngModel)]="pacMan.bearing" name="bearing" value="N">
</label>
<label>East
	<input type="radio" [(ngModel)]="pacMan.bearing" name="bearing" value="E">
</label>
<label>South
	<input type="radio" [(ngModel)]="pacMan.bearing" name="bearing" value="S">
</label>
<label>West
	<input type="radio" [(ngModel)]="pacMan.bearing" name="bearing" value="W">
</label>

<button (click)="placePacman(pacMan)">Place Pacman</button>
<button (click)="movePacman()">Move Pacman</button>
<button (click)="turnPacman('LEFT')">Turn Left</button>
<button (click)="turnPacman('RIGHT')">Turn Right</button>
<button (click)="reportPacman()">Report</button>